<h1>People</h1>
<div id="app">
  <h2>Total number of people: {{ people.length }}</h2>
  <div>
    <div>
      Name: <input type="text" v-model="newPersonName">
    </div>
    <div>
      Bio: <input type="text" v-model="newPersonBio">
    </div>
    <button v-on:click="addPerson()">Create person!</button>
  </div>
  Search any attribute: <input type="text" v-model="attributeFilter" list="names">
  <datalist id="names">
    <option v-for="person in people">{{ person.name }}</option>
  </datalist>
  <div>
    <button v-on:click="sortAttribute = 'name'">Sort by name</button>
    <button v-on:click="sortAttribute = 'bio'">Sort by bio</button>
  </div>
  <transition-group name="fade">
    <div v-for="person in modifiedPeople" v-bind:key="person.id" v-if="isValidPerson(person)">
      <h2>{{ person.id }} - {{ person.name }}</h2>
      <p v-bind:class="{strike: person.bioVisible}">{{ person.bio }}</p>
      <button v-on:click="toggleBio(person)">Toggle strikethrough</button>
      <button v-on:click="deletePerson(person)">Delete</button>
    </div>
  </transition-group>
</div>
